@model Bidster.Models.Events.EditEventViewModel

@{
    ViewBag.Title = "Edit Event";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" asp-route-id="@Model.Id" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="StartOn"></label>
                <input type="date" asp-for="StartOn" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EndOn"></label>
                <input type="date" asp-for="EndOn" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Create Event</button>
        </form>
    </div>
</div>