@model Bidster.Models.Tenants.TenantSettingsViewModel

<form asp-controller="Tenants" asp-action="UpdateSettings" asp-route-tenantId="@Model.Id" method="post">
    <h5>Branding</h5>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Settings.Branding.Title"></label>
                <input type="text" asp-for="Settings.Branding.Title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Settings.Branding.SubTitle"></label>
                <input type="text" asp-for="Settings.Branding.SubTitle" class="form-control" />
            </div>
            <div class="form-group"></div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save Settings</button>
</form>