@model Bidster.Models.Products.EditProductViewModel

@{
    ViewBag.Title = $"{Model.EventName} - New Product";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" asp-route-evtSlug="@Model.EventSlug" method="post" enctype="multipart/form-data">
            
            <partial name="_EditForm" model="Model" />

            <button type="submit" class="btn btn-primary">Create Product</button>
        </form>
    </div>
</div>
