@model Bidster.Models.Products.EditProductViewModel

@{
    ViewBag.Title = $"{Model.EventName} - New Product";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" asp-route-evtSlug="@Model.EventSlug" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="StartingPrice"></label>
                <input type="text" asp-for="StartingPrice" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MinimumBidAmount"></label>
                <input type="text" asp-for="MinimumBidAmount" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ImageFile">Image</label>
                <input type="file" asp-for="ImageFile" />

                <input type="hidden" asp-for="ImageUrl" />
            </div>

            <button type="submit" class="btn btn-primary">Create Product</button>
        </form>
    </div>
</div>
