@model Bidster.Models.Products.EditProductViewModel

@{
    ViewBag.Title = $"{Model.EventName} - Edit Product";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" asp-route-evtSlug="@Model.EventSlug" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
            
            <partial name="_EditForm" model="Model" />

            <button type="submit" class="btn btn-primary">Save Product</button>
        </form>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
}