@model Bidster.Models.Tenants.EditTenantViewModel
@{
    ViewData["Title"] = "New Tenant";
}


<form asp-action="Create" method="post">
    <div class="row">
        <div class="col-md-6">
            <partial name="_EditForm" model="Model" />

            <button type="submit" class="btn btn-primary">Save Tenant</button>
        </div>
    </div>    
</form>