@model Bidster.Models.Events.EventModel

<div class="jumbotron">
    <div class="container">
        <h1>@Model.Name</h1>

        <h3>@Model.StartOn.ToString("ddd, MMM d, h:mm tt") - @Model.EndOn.ToString("ddd, MMM d, yyyy, h:mm tt")</h3>
    </div>
</div>